/* Logobutton */

@import url("https://fonts.googleapis.com/css2?family=Fira Code:wght@600&display=swap");



.imageBox {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 22px 23px 78px 26px;
    margin-right: 65px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    height: fit-content;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.Button-Box{
    padding: 14px 28px 13px 29px;
    margin-right: 99px;
    margin-left: 60px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 80%;
    cursor: pointer;
}
.Button-Box1{
    padding: 14px 28px 13px 29px;
    margin-right: 99px;
    margin-left: 60px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 80%;
    cursor: pointer;
}


.Button-Box-disabled{
    padding: 14px 28px 13px 29px;
    margin-right: 99px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.15);
   
    height: 80%;
}

.innerBox{
    padding: 21px 21px 21px 22px;
  margin-bottom: 58px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  height: 362px;
  width: 362px;
}

.flex-col-hcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-side {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    width: 554px;
    height: 100%;
}

.flex-col-hstart-vstart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.clip-contents {
    overflow: hidden;
}

.txt-614 {
      font-size: 20px;
    font-family: Fira Code, monospace;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    width: 103px;
    height: 31px;
    word-wrap: break-word;
}

.img_style{
    width: 319px;
    height: 100%;
}

.mainBox {
    padding: 50px 48px 50px 55px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
  
  
}
  
.flex-row-vcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.terminal {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 600px;
    height: 100%;
    max-height: 600px;
    min-width: 350px;
    width: 100%;
    max-width: 600px;
    background-color: rgba(11, 23, 34, 0.6666666667);
    border: 3px solid rgba(27, 27, 42, 0.7176470588);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    font-family: "Courier New", Courier, monospace;
    font-size: 1.125rem;
    right: 9px;
    left: 9px;
    color: whitesmoke;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}

